.login-link,
.login-link:hover {
  text-decoration: none;
  color: white;
}

/* .container{
  text-align: center;
  margin-top: 310px;
  margin-bottom: 310px;
} */

/* body{
  background-color: #80bef0;
} */