.main {
  margin-top: 20px;
  width: 75%;
  padding: 30px;
  border: 5px solid rgb(240, 233, 233);
  box-shadow: 10px rgb(206, 158, 158);
  height: 100%;
}

.prescription-table {
  border: 1px solid;
  margin-top: 30px;
}

.date {
  float: right;
}

.logo {
  width: 40px;
  height: 40px;
}

.download-btn {
  float: right;
}

.row-input div {
  padding: 10px;
}

.row-input {
  border: 1px solid;
}

label {
  width: 80px;
  display: inline-block
}